:root {
  --Pink: #FEACCD;
  --Pistachio: #DAEBDB;
  --DarkPink: #FF7077;
  --LightBlue: #E1F7FF;
  --Beige: #FBF6EB;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--Maroon);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--DarkPink);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.pistachio {
  background-color: var(--Pistachio);
}

.beige {
  background-color: var(--Beige);
}

.light-blue {
  background-color: var(--LightBlue);
}

.title {
  font-weight: 400;
}

.heading {
  font-family: "Thirsty Rough Lt Thr", serif;
  font-weight: 400;
}

.subheading {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

.quote {
  font-style: italic;
}

.navbar {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.navbar-nav {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item:last-child {
  margin-left: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 5rem;
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.nav-item a:hover {
  color: var(--Pink);
  transition: color .5s;
}

.active {
  color: var(--Pink);
}

section:first-of-type {
  margin-top: 5rem;
}

.section-content {

}

section {
  height: 500px;
}

.parallax {
  background-image: url("assets/images/baked-beautiful-birthday-birthday-cake-302552.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}